	<div class="container">
		<a class="button" href="/register">Sign Up</a></li>
		<a class="button button-primary" href="/login">Login</a></li>
		<a class="button button-primary" href="/logout">Logout</a></li>
	</div>
	</body>
</html>