<!DOCTYPE html>
<html>
<head>
	<title>Authentication</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>

</body>
</html>