/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'pulsar';
@reset      : 'pulsar';

/* Elements */
@button     : 'pulsar';
@container  : 'pulsar';
@divider    : 'pulsar';
@emoji      : 'pulsar';
@flag       : 'pulsar';
@header     : 'pulsar';
@icon       : 'pulsar';
@image      : 'pulsar';
@input      : 'pulsar';
@label      : 'pulsar';
@list       : 'pulsar';
@loader     : 'pulsar';
@placeholder: 'pulsar';
@rail       : 'pulsar';
@reveal     : 'pulsar';
@segment    : 'pulsar';
@step       : 'pulsar';
@text       : 'pulsar';

/* Collections */
@breadcrumb : 'pulsar';
@form       : 'pulsar';
@grid       : 'pulsar';
@menu       : 'pulsar';
@message    : 'pulsar';
@table      : 'pulsar';

/* Modules */
@accordion  : 'pulsar';
@calendar   : 'pulsar';
@checkbox   : 'pulsar';
@dimmer     : 'pulsar';
@dropdown   : 'pulsar';
@embed      : 'pulsar';
@modal      : 'pulsar';
@nag        : 'pulsar';
@popup      : 'pulsar';
@progress   : 'pulsar';
@slider     : 'pulsar';
@rating     : 'pulsar';
@search     : 'pulsar';
@shape      : 'pulsar';
@sidebar    : 'pulsar';
@sticky     : 'pulsar';
@tab        : 'pulsar';
@toast      : 'pulsar';
@transition : 'pulsar';

/* Views */
@ad         : 'pulsar';
@card       : 'pulsar';
@comment    : 'pulsar';
@feed       : 'pulsar';
@item       : 'pulsar';
@statistic  : 'pulsar';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder   : 'site/';


/*******************************
         Import Theme
*******************************/

@import (multiple) "theme.less";

/* End Config */
