/*
Element Selector - to select all the elements of the same type
*/
body {
	background: #34EBE1;
}

/* 
ID Selector - used for single elements. '#' is used in css
*/
#special{
	background: pink;
}

/* 
Class Selector - used for multiple elements. '.' is used in css
*/
.completed {
	text-decoration: line-through;
 }